{% extends "tasktracker/base.html" %}

{% block title %}Add subtask{% endblock %}

{% block content %}
    <section id="add_subtask" class="wrapper">
    <header class="align-center">
            <h2>Add subtask</h2>
    </header>
    <form method="POST">
        {% csrf_token %}
        <label for="subtask"><h4>Subtask:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="subtask" id="subtask">
                    {% for subtask in tasks %}
                        <option value="{{ subtask.id }}">{{subtask.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p></p>

        <label for="relation_type"><h4>Relation type:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="relation_type" id="relation_type">
                    {% for relation_type in task_relation %}
                        <option value="{{ relation_type.value }}">{{ relation_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <p></p>
        <input type="submit" value="Add subtask" class="special" />
    </form>
    </section>
{% endblock %}