{% extends "tasktracker/base.html" %}

{% block title %}Add task to group{% endblock %}

{% block content %}
    <section id="add_task_to_group" class="wrapper">
    <header class="align-center">
            <h2>Add task to group</h2>
    </header>
    <form method="POST">
        {% csrf_token %}
        <label for="task"><h4>Task:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="task" id="task">
                    {% for task in tasks %}
                        <option value="{{ task.id }}">{{ task.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p></p>

        <input type="submit" value="Add" class="special" />
    </form>
    </section>
{% endblock %}