{% extends "tasktracker/index.html" %}

{% block title %}TaskTracker{% endblock %}

{% block base_content %}
    <section id="main" class="wrapper">
            <div class="container">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
{% endblock %}