{% extends "tasktracker/base.html" %}

{% block title %}Change access type{% endblock %}

{% block content %}
    <section id="change_access_type" class="wrapper">
    <header class="align-center">
            <h2>Change access type</h2>
    </header>

    <form method="POST">
        {% csrf_token %}
        <label for="user"><h4>User:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="user" id="user">
                    {% for user in users %}
                        <option value="{{ user.id }}"
                        {% if user_id and user_id == user.id%}
                            selected
                        {% endif %}>
                            {{ user.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p></p>

        <label for="access_type"><h4>Access type:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="access_type" id="access_type">
                    {% for access_type in user_types %}
                        {% if access_type.name != 'AUTHOR' %}
                            <option value="{{ access_type.value }}"
                                {% if access_type.name == current_access %}
                                    selected
                                {% endif %}>
                                    {{ access_type.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <p></p>
        <input type="submit" value="Change" class="special" />
    </form>
    </section>
{% endblock %}