{% extends "tasktracker/base.html" %}

{% block title %}Change task status{% endblock %}

{% block content %}
    <section id="change_status" class="wrapper">
    <header class="align-center">
            <h2>Change task status</h2>
    </header>
    <form method="post">
        {% csrf_token %}
        <label for="new_status"><h4>New status:</h4></label>
        <div class="6u$">
            <div class="select-wrapper">
                <select name="new_status" id="new_status">
                    {% for new_status in task_status %}
                        {% if new_status.name != 'CREATED' %}
                        <option value="{{ new_status.value }}">{{ new_status.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <p></p>
        <input type="submit" value="Change" class="special" />
    </form>
    </section>
{% endblock %}