{% extends "tasktracker/base.html" %}

{% block title %}Edit plan{% endblock %}

{% block content %}
    <h2>Edit plan</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}

        <input type="submit" value="Edit"/>
    </form>
{% endblock %}