{% extends "tasktracker/base.html" %}

{% block title %}Edit group{% endblock %}

{% block content %}
    <section id="edit_group" class="wrapper">
    <header class="align-center">
            <h2>Edit group</h2>
    </header>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}

        <input type="submit" value="Edit"/>
    </form>
    </section>
{% endblock %}