{% extends "tasktracker/index.html" %}

{% block title %}Error{% endblock %}

{% block base_content %}
    <section id="banner">
        <header class="align-center">
            <h2>{{ exception }}</h2>
        </header>

        <p></p>
        <ul class="actions" type="submit">
            <li>
                <a href="/index/" class="button big">Home</a>
            </li>
        </ul>
    </section>
{% endblock %}