{% extends "tasktracker/base.html" %}

{% block title %}Group{% endblock %}

{% block content %}
    <section id="Group" class="wrapper">
        <header class="align-center">
            <h2>Group {{ group.id }}</h2>
        </header>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ group.id }}</td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>{{ group.name }}</td>
                    </tr>

                    <tr>
                        <td>Description</td>
                        <td>{{ group.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul>
            <a href="/groups/{{ group.id }}/edit" class="button default">Edit</a>
            <a href="/groups/{{ group.id }}/delete" class="button default">Delete</a>
            <a href="/groups/{{ group.id }}/share" class="button default">Share group</a>
        </ul>

    </section>

    <section id="tasks" class="wrapper">
        <h4>Tasks</h4>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% if not tasks %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    {% endif %}

                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>
                            <a href="/groups/{{ group.id }}/delete_task/{{ task.id }}" class="button small">
                                Delete from group
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul>
                <a href="/groups/{{ group.id }}/add_task" class="button default">
                    Add task
                </a>
            </ul>
        </div>

    </section>
    
    <section id="users" class="wrapper">
        <h4>Users</h4>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User name</th>
                        <th>Access type</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% if not users %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    {% endif %}

                    {% for user, access_type in users.items %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ access_type.name }}</td>

                        <td>
                            {% if access_type.name != 'AUTHOR' %}
                            <a href="/groups/{{ group.id }}/change_user_access_type/{{ user.id }}" class="button small">
                                Change access type
                            </a>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}