{% extends "tasktracker/base.html" %}

{% block title %}Groups{% endblock %}

{% block content %}
    <section id="groups" class="wrapper">
    <header class="align-center">
        <h2>Groups</h2>
    </header>
    
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Access type</th>
                <th>Actions</th>
            </tr>
            </thead>
            
            <tbody>
                {% if not groups.items %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}

                {% for group, access_type in groups.items %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ access_type.name }}
                
                        <td>
                            <a href="/groups/{{ group.id }}/show" class="button small">Show</a>
                            <a href="/groups/{{ group.id }}/edit" class="button small">Edit</a>
                            <a href="/groups/{{ group.id }}/delete" class="button small">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    
    <a href="/groups/add/" class="button default">Add group</a>
    </section>
{% endblock %}