<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}TaskTracker{% endblock %}</title>

        <script src="{% static "js/html5shiv.js" %}"></script>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/init.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />


		<noscript>
			<link rel="stylesheet" href="{% static "css/skel.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css" %}" />
			<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
		</noscript>
	</head>

	<body class="landing">
		    <header id="header">
                <h1><a href="/index/">TaskTracker</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/tasks/"><h4 style="color: #ffffff;">Tasks</h4></a></li>
                        <li><a href="/plans/"><h4 style="color: #ffffff;">Plans</h4></a></li>
                        <li><a href="/groups/"><h4 style="color: #ffffff;">Groups</h4></a></li>
                        <li><a href="/notifications/"><h4 style="color: #ffffff;">Notifications</h4></a></li>
                        <li><a href="/messages/"><h4 style="color: #ffffff;">Messages</h4></a></li>
                        {% block user_status %}
                            {% if not user_name %}
                                <li><a href="/login/" class="button special">Sign in</a></li>
                            {% else %}
                                <li><a href="/profile/" class="button special">{{ user_name }}</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </nav>
            </header>

        {% block base_content %}
            {% block content %}
                <section id="banner">
                    <h2>TaskTracker</h2>
                    <ul class="actions" type="submit">
                        <li>
                            <a href="/register/" class="button big">Sign up</a>
                        </li>
                    </ul>
                </section>
            {% endblock %}
        {% endblock %}

	</body>
</html>