{% extends 'tasktracker/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section id="login" class="wrapper">
    <header class="align-center">
            <h2>Login</h2>
    </header>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}

        <input type="submit" value="Login"/>
    </form>
    </section>
{% endblock %}