{% extends "tasktracker/base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <section id="messages" class="wrapper">
    <header class="align-center">
        <h2>Messages</h2>
    </header>
    
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Message</th>
            </tr>
            </thead>
            
            <tbody>
                {% if not messages %}
                    <tr>
                        <td>---</td>
                    </tr>
                {% endif %}

                {% for message in messages %}
                    <tr>
                        <td>{{ message }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    
    <a href="/messages/clear/" class="button default">Clear messages</a>
    </section>
{% endblock %}