{% extends "tasktracker/base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <section id="notifications" class="wrapper">
    <header class="align-center">
        <h2>Notifications</h2>
    </header>
    
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Message creation time</th>
                <th>Message</th>
            </tr>
            </thead>
            
            <tbody>
            {% if not notifications %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}
            {% for notification in notifications %}
                <tr>
                    <td>{{ notification.creation_time }}</td>
                    <td>{{ notification.message }}</td>
                
                    <td>
                        <a href="/notifications/{{ notification.id }}/edit" class="button small">Edit</a>
                        <a href="/notifications/{{ notification.id }}/delete" class="button small">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        
        </table>
    </div>
    
    <a href="/notifications/add/" class="button default">Add notification</a>
    </section>
{% endblock %}