{% extends "tasktracker/base.html" %}

{% block title %}Plans{% endblock %}

{% block content %}
    <section id="plans" class="wrapper">
    <header class="align-center">
        <h2>Plans</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Task name</th>
                <th>Task priority</th>
                <th>Task creation time</th>
                <th>Task start date</th>
                <th>Task end date</th>
                <th>Repeat time</th>
                <th>Repeat months count</th>
            </tr>
            </thead>

            <tbody>
            {% if not plans %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
            {% endif %}

            {% for plan in plans %}
                <tr>
                    <td>{{ plan.task_name }}</td>
                    <td>{{ plan.priority.name }}</td>
                    <td>{{ plan.task_creation_time }}</td>
                    <td>{{ plan.start_date }}</td>
                    <td> {% if plan.end_date is not None%}
                            {{ plan.end_date }}
                         {% else %}
                            ---
                         {% endif %}
                    </td>
                    <td>{{ plan.repeat_time_delta }}
                    <td>{{ plan.repeat_time_delta_months }}</td>

                    <td>
                        <a href="/plans/{{ plan.id }}/show" class="button small">Show</a>
                        <a href="/plans/{{ plan.id }}/edit" class="button small">Edit</a>
                        <a href="/plans/{{ plan.id }}/delete" class="button small">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <a href="/plans/add/" class="button default">Add plan</a>
    </section>
{% endblock %}