{% extends "tasktracker/base.html" %}

{% block title %}Plan{% endblock %}

{% block content %}
    <section id="plan" class="wrapper">
        <header class="align-center">
            <h2>Plan {{ plan.id }}</h2>
        </header>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ plan.id }}</td>
                    </tr>
                    <tr>
                        <td>Task name</td>
                        <td>{{ plan.task_name }}</td>
                    </tr>
                    <tr>
                        <td>Task priority</td>
                        <td>{{ plan.priority.name }}</td>
                    </tr>
                    <tr>
                        <td>Task creation time</td>
                        <td>{{ plan.task_creation_time }}</td>
                    </tr>
                    <tr>
                        <td>Task start date</td>
                        <td>{{ plan.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Task end date</td>
                        <td>
                            {% if plan.end_date is not None%}
                                {{ plan.end_date }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat time delta</td>
                        <td>{{ plan.repeat_time_delta }}</td>
                    </tr>
                    <tr>
                        <td>Repeat time months count</td>
                        <td>{{ plan.repeat_time_delta_months }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

            <ul>
                <a href="/plans/{{ plan.id }}/edit" class="button small">Edit</a>
                <a href="/plans/{{ plan.id }}/delete" class="button small">Delete</a>
            </ul>

    </section>

{% endblock %}