{% extends "tasktracker/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <section id="tasks" class="wrapper">
    <header class="align-center">
        <h2>Tasks</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Status</th>
                <th>In archive</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Access type</th>
                <th>Actions</th>
            </tr>
            </thead>
            
            <tbody>
                {% if not tasks.items %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                {% endif %}

                {% for task, access_type in tasks.items %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.priority.name }}</td>
                        <td>{{ task.status.name }}</td>
                        <td>
                            {% if task.in_archive %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>{{ task.start_date }}</td>
                        <td> {% if task.end_date is not None%}
                                {{ task.end_date }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>{{ access_type.name }}

                        <td>
                            <a href="/tasks/{{ task.id }}/show" class="button small">Show</a>
                            <a href="/tasks/{{ task.id }}/edit" class="button small">Edit</a>
                            <a href="/tasks/{{ task.id }}/delete" class="button small">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    
    <a href="/tasks/add/" class="button default">Add task</a>

    </section>
{% endblock %}