{% extends "tasktracker/base.html" %}

{% block title %}Task{% endblock %}

{% block content %}
    <section id="task" class="wrapper">
        <header class="align-center">
            <h2>Task {{ task.id }}</h2>
        </header>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ task.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    <tr>
                        <td>Priority</td>
                        <td>{{ task.priority.name }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ task.status.name }}</td>
                    </tr>

                    <tr>
                        <td>In archive</td>
                        <td>
                            {% if task.in_archive %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>Start date</td>
                        <td>{{ task.start_date }}</td>
                    </tr>
                    <tr>
                        <td>End date</td>
                        <td>
                            {% if task.end_date is not None %}
                                {{ task.end_date }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>Description</td>
                        <td>{{ task.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul>
            <a href="/tasks/{{ task.id }}/edit" class="button default">Edit</a>
            <a href="/tasks/{{ task.id }}/delete" class="button default">Delete</a>
            <a href="/tasks/{{ task.id }}/share" class="button default">Share task</a>
            <a href="/tasks/{{ task.id }}/change_status" class="button default">Change status</a>
            <a href="/tasks/{{ task.id }}/in_archive" class="button default">Send in archive</a>
        </ul>

    </section>

    <section id="groups" class="wrapper">
        <h4>Groups</h4>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% if not groups %}
                        <tr>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                    {% endif %}

                    {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>

                        <td>
                            <a href="/groups/{{ group.id }}/delete_task/{{ task.id }}" class="button small">
                                Delete from group
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

    <section id="subtasks" class="wrapper">
        <h4>Subtasks</h4>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Relation type</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% if not subtasks %}
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    {% endif %}

                    {% for subtask, relation_type in subtasks.items %}
                    <tr>
                        <td>{{ subtask.id }}</td>
                        <td>{{ subtask.name }}</td>
                        <td>{{ relation_type.name }}</td>

                        <td>
                            <a href="/tasks/{{ task.id }}/delete_subtask/{{ subtask.id }}" class="button small">Delete</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul>
                <a href="/tasks/{{ task.id }}/add_subtask" class="button default">
                    Add subtask
                </a>
            </ul>
        </div>

    </section>

    <section id="users" class="wrapper">
        <h4>Users</h4>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>User name</th>
                        <th>Access type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    {% for user, access_type in users.items %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ access_type.name }}</td>

                        <td>
                            {% if access_type.name != 'AUTHOR' %}
                            <a href="/tasks/{{ task.id }}/change_user_access_type/{{ user.id }}" class="button small">
                                Change access type
                            </a>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}