{% extends "tasktracker/base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    <section id="profile" class="wrapper">
    <header class="align-center">
            <h2>User Profile</h2>
    </header>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{ user_name }}</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td>{{ user_email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}

{% block user_status %}
    <li><a href="/logout/" class="button special">Sign out</a></li>
{% endblock %}